/.settings/
/.apt_generated_tests/
/.idea/
/.vscode/
target
.project
.springBeans
.classpath
.factorypath
logs
bin
dockerfile
/debug.log
/cdk.out/
app-reactive.travel.iml
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.project
.settings
.springBeans
.sts4-cache
.DS_Store